name: Integration

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  
  unit-test-cases:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    services:
      redis:
        image: redis:7-alpine
        ports:
          - 6379:6379
      mongodb:
        image: mongo:7
        ports:
          - 27017:27017        
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - name: "Installing Dependencies"
        run: npm ci
      - name: "Running Test Cases"
        run: npm run test
        env:
          RAZORPAY_API_SECRET: ${{ secrets.RAZORPAY_API_SECRET }}
          RAZORPAY_APT_KEY: ${{secrets.RAZORPAY_APT_KEY}}
          NEWS_API_KEY: ${{ secrets.NEWS_API_KEY }}
          FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
          Port: 8002
          url: "mongodb://127.0.0.1:27017/Twitter"
          REDIS_URL: redis://localhost:6379
